* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    text-align: center;
    height: 130px;
    line-height: 126px;
    vertical-align: middle;
    padding: 4px;
}
.nested {
    background-color: #F07F80;
    height: 120px;
    line-height: 120px;
    vertical-align: middle;
    border: 1px solid white;
    padding: 0;
}


/* domanda su dimensioni di .nested e di -col una in realzione all'altra. Così ho dovuto calcolare 130 di height - 4px padding fa 126px di line height per centrare nel .COL- e poi stessa cosa su .NESTED 120height che sono 2px border + 4px padding x2. */